@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'MyFont';
	src: url(font/myfont.ttf);
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.4rem;
	background:url(../img/bgg.png);
}

#wrap{
	width: 100%;
	/*height: 500px;*/
	font-family: MyFont;
	padding-bottom: 20px;
}

#main{
	width: 100%;

}

#main header{
	width: 100%;
}
#main h1{   
	width: 100%;
}

#main h1 img{
	width: 100%;
}

#btn_box{
	width: 100%;
	padding-top: 30px;
}

#btn_box h2{
	width: 80%;
	margin: 0 auto;
	border-bottom: #F60 2px dotted;
}

#btn_box h2 span{
	font-size: 1.8em;
	display: block;
	padding-left: 20px;
}

#btn_in{
	width: 80%;
	background: #F00;
	margin: 0 auto;
	margin-top: 20px;
}

.btn{
	width: 27%;
	float: left;
	margin: 0 3%;
}

.btn img{
	width: 100%;
}


#fm_box{
	clear: both;
	width: 100%;
	padding-top: 50px;
}

#fm_box h2{
	width: 80%;
	margin: 0 auto;
	border-bottom: #F60 2px dotted;
}

#fm_box h2 span{
	font-size: 1.8em;
	display: block;
	padding-left: 20px;
}

#ipt_box{
	width: 100%;
	text-align:center;
	margin-top: 20px;
}

#ipt_box img{
	width: 15%;
	vertical-align: middle;
}

#msex{
	display: inline;
}
#wsex{
	display: none;
}

input#name_ipt{
	width: 50%;
	height: 1em;
	font-size: 1em;
	margin-left: 10px;
	border-radius: 3px;
	border:1px solid #eee;
	padding: 8px;
}

#next_box{
	width: 100%;
	text-align:center;
	padding-top: 103px;
}

#next_box img{
	width: 70%;
}


#box_wrap{
	width: 100%;
	padding-top: 20px;
}

#left_box{
	width: 45%;
	padding-top: 30px;
	float: left;
}

#left_box img#snaptarget{
	width: 45%;
	position:absolute;
	z-index:-100;
}


#left_box img#snaptarget1_img{
	width: 45%;
	position:absolute;
	z-index:-90;
	visibility:hidden;
}

#left_box img#snaptarget2_img{
	width: 45%;
	position:absolute;
	z-index:-70;
	visibility:hidden;
}

#left_box img#snaptarget3_img{
	width: 45%;
	position:absolute;
	z-index:-80;
	visibility:hidden;
}



#left_box img#snaptarget1{
	width: 100%;
}

#left_box img#snaptarget2{
	width: 100%;
}

#left_box img#snaptarget3{
	width: 100%;
}


#right_box{
	width: 55%;
	float: left;
    padding-top: 10px;
}

.av_box{
	width: 35%;
	text-align:center;	
	position: relative;
	float: left;
	background: #fff;
	margin: 12px 0 0 9%;
	border-radius:50%;
	overflow:hidden;
}

.av_box:after{
	padding-top: 100%;
    display: block;
    content: "";
}

.av_box img{
	width: 60%;
}

.av_in{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.av_box2{
	width: 20%;
	background: #fff;
	position: relative;
	text-align:center;	
	border-radius:50%;
	overflow:hidden;
}

.av_box2:after{
	padding-top: 100%;
    display: block;
    content: "";
}

.av_box2 img{
	width: 60%;
}

.av_in2{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}


#box_bot{
	clear: both;
	padding-top: 60px;
	width: 100%;
	text-align: center;
}

#box_bot img{
	width: 70%;
}

#fn_head{
	width: 80%;
	margin: 0 auto;
	padding-left: 20%;
	padding-top: 10px;
}

#fn_head p{
	font-size: 1.5em;
}

#fn_head p span{
	font-size: 2em;
	margin: 0 3px 0 30px;
	color:#F60;
}

#fn_img{
	width: 50%;
	padding: 10px 0 22px 0;
	margin: 0 auto;
}

#fn_img img{
	width: 100%;
}

#fn_btn{
	width: 100%;
	text-align: center;
}

#fn_btn img{
	width: 70%;
}


.dash-btn{
	/*width: 50%;*/
	/*font-size: 20px;*/
	margin-top: 50px;
	/*margin: 50px auto 0 auto;*/
	/*padding: 15px 40px;*/
	/*background: #FC6;*/
	/*border: 5px dashed #f33;*/
	/*border-radius: 15px;*/
	/*box-shadow: 1px 2px 4px -1px rgba(50, 50, 50, 0.5);*/
	display: block;
	width: 100%;
}
.dash-btn > img{
	width: 80%;
	max-width: 250px;
}
.dash-btn-disabled{
	/*background: #FC6;*/
	opacity: 0.3;
}

#sm_p{
	width: 100%;
	text-align:center;
	padding: 10px 0 15px 0;
	font-size:20px;
	color: #F63;
	border-bottom: 2px dashed rgba(204,102,51,0.5);
}

#sm01{
	width: 100%;
	height: 135px;
	border-bottom: 2px dashed rgba(204,102,51,0.5);
	background:rgba(246,249,184,0.8);
}

#sm01 img{
	width: 75%;
	max-width: 300px;
	margin-top: 5px;
	padding-left: 13%;
}

#sm02{
	width: 100%;
	height: 135px;
	border-bottom: 2px dashed rgba(204,102,51,0.5);
}

#sm02 img{
	width: 75%;
	max-width: 300px;
	margin-top: 5px;
	padding-left: 13%;
}

#sm03{
	width: 100%;
	height: 135px;
	border-bottom: 2px dashed rgba(204,102,51,0.5);
}

#sm03 img{
	width: 75%;
	max-width: 300px;
	margin-top: 5px;
	padding-left: 13%;
}
#sm_btn{
	width: 100%;
	text-align:center;
	padding-top: 25px;
}

#sm_btn img{
	width: 70%;
}


#fn_req{
	width: 100%;
	padding: 150px 0;
	line-height:1.7em;
	text-align: center;
	font-size: 20px;
	color: #333;
}

#fn_req span{
	font-size:36px;
	color: #F60;
}


#review_btn_wrap{
	text-align: center;
}
#review_btn_wrap > .review_btn > img{
	width: 25%;
	margin: 0 5px;
}



#cosplay_images{
	width: 90%;
	/*position: relative;*/
	/*text-align: center;*/
}

#cosplay_images img#cosplay_image{
	width: 45%;
	position:absolute;
	z-index: 10;
}


#cosplay_images img#cosplay_image1{
	width: 45%;
	position:absolute;
	z-index: 70;
	/*transition: 2deg;*/
}

#cosplay_images img#cosplay_image2{
	width: 45%;
	position:absolute;
	z-index: 50;
}

#cosplay_images img#cosplay_image3{
	width: 45%;
	position:absolute;
	z-index: 30;
}

/* 依頼側での完成図の出来栄え */
.quality_low{
	/*transform: scale(0.95);*/
	-webkit-filter: sepia(20%);
    -moz-filter: sepia(20%);
    -o-filter: sepia(20%);
    -ms-filter: sepia(20%);
    filter: sepia(20%);
}
.quality2_normal{
    transform: skew(0deg);
}
.quality3_high{
    transform: skew(0deg);
}
